<?xml version="1.0" encoding="UTF-8"?>
<root>
  <workSite id="WorkSite01">
    <dataReport>
      <email type="outlook">
        <host>
          <address>smtp-mail.outlook.com</address>
          <userAddress>LucasYao93@outlook.com</userAddress>
          <userPassword>yaodi@960903</userPassword>
        </host>
        <fromPerson>
          <element>
            <address>LucasYao93@outlook.com</address>
            <user>BDS-CollectData</user>
          </element>
          <element>
            <address>LucasYao93@outlook.com</address>
            <user>BDS-CollectData2</user>
          </element>
        </fromPerson>
        <toPerson>
          <element>
            <address>LucasYao93@outlook.com</address>
            <user>LucasYao</user>
          </element>
        </toPerson>
      </email>
    </dataReport>
    <dataFactory>
      <factory type="GitRepo">
        <email>LucasYao93@outlook.com</email>
        <local>D:/BDS-Data/</local>
        <password>yaodi@960903</password>
        <remote>https://github.com/LucasYao93-DataBase/BDS-Data-FuYang.git</remote>
        <userName>LucasYao93-DataBase</userName>
      </factory>
    </dataFactory>
  </workSite>
</root>